html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  max-width: 1440px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 0 42.72px;
  width: 100%;
}

.header__logo {
  display: inline-flex;
  margin-left: 42.72px;
}

.header__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-left: 110px;
}

.header__right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  margin-right: 0;
}

.nav__link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
}

@media (max-width: 1100px) {
  .header__nav, .header__right {
    display: none;
  }
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: #e51937;
  border-bottom: 1px solid #e51937;
  cursor: pointer;
}

.header__img-burger {
  display: inline-flex;
  align-items: flex-end;
  margin: 0 60px 0 30px;
}

.main__img {
  position: relative;
  margin-top: -118px;
  width: 100%;
}

.main__title {
  position: relative;
  font-weight: 600;
  font-size: 90px;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 9px;
}

.title-second {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main__description {
  text-align: center;
  left: 600px;
  font-size: 15px;
  margin-top: 9px;
  margin-bottom: 26px;
}

.main__container {
  display: flex;
  margin: 20px 0;
  padding: 0 321px;
  margin-top: 27px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main__container-first {
  display: flex;
  justify-content: space-between;
  width: 375px;
}

.main__container-second {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 14px;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-right: 20px;
  justify-content: space-between;
}

.main__img-vector {
  float: left;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.main__img-stroke {
  float: left;
  position: relative;
}

.main__row-title {
  display: flex;
  align-items: baseline;
  padding-left: 14px;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  color: black;
  position: relative;
  right: 3px;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: "Montserrat", sans-serif;
  line-height: 43px;
}

.main__subtitle {
  display: flex;
  margin-left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: black;
  line-height: 24px;
}

.main__row-desc {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: black;
  position: relative;
  top: -2px;
  right: -10px;
  margin-top: 0px;
  margin-left: 15px;
}

.main__row-test {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.row__test {
  display: flex;
}

.main__img-steering {
  float: left;
  margin-top: 20px;
  margin-right: 8px;
}

.main__img-steering-1, .main__img-steering-2 {
  display: none;
}

.main__row-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-top: 23px;
}

.button {
  margin: 0;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border: 2px solid #e51937;
  width: 160px;
  height: 40px;
  padding: 10px 20px;
}

.main__button {
  position: relative;
  color: #e51937;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 11px;
}

.main__button:hover {
  box-shadow: 0 5px 8px #3c354a;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.main__arrow {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

.container, .footer {
  display: none;
}

@media (max-width: 1100px) {
  .header {
    margin: 24px 33px 0 15.32px;
  }

  .main__img {
    margin-top: -100px;
  }

  .main__title {
    margin-top: 80.32px;
    margin-bottom: 5px;
    padding: 0;
    justify-content: center;
  }

  .main__description {
    justify-content: center;
    font-size: 15px;
    margin-top: -9px;
    text-align: center;
    margin-left: 0;
  }

  .main__container {
    flex-direction: column;
  }

  .main__container-first {
    width: 487.27px;
  }

  .main__container-second {
    width: 418.21px;
  }

  .main__row {
    margin-bottom: 57px;
    margin-right: 0;
  }

  .main__row-test {
    margin-right: 34.51px;
  }

  .row__test {
    display: flex;
  }

  .main__row-text {
    color: #e51937;
    margin-left: 9.66px;
    margin-top: 0;
    text-shadow: none;
  }

  .button {
    margin: 0;
    justify-content: center;
    background-color: #e51937;
    color: white;
  }

  .main__button {
    padding-left: 0;
  }

  .main__img-strike {
    width: 25px;
  }

  .main__img-steering, .main__img-steering-2 {
    display: none;
  }

  .main__img-steering-1 {
    display: inline-block;
  }

  .main__row-title {
    font-size: 27px;
    margin: 0 2px 0 0;
  }

  .main__subtitle {
    font-size: 15px;
  }

  .main__row-desc {
    font-size: 12px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .header {
    margin: 5px 21px 0 2px;
  }

  .header__logo {
    margin: 0;
  }

  .header__img-burger {
    margin: 0 21px;
  }

  .main__img {
    margin-top: 8px;
  }

  .main__title {
    margin-top: 30px;
    font-size: 60px;
    margin-bottom: 5px;
    padding: 0;
    justify-content: center;
  }

  .main__description {
    justify-content: center;
    font-size: 12px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
  }

  .main__container {
    flex-direction: column;
    margin: 0 10px;
    padding: 0 36px;
    justify-content: center;
  }

  .main__container-first {
    width: 303px;
  }

  .main__container-second {
    width: 303px;
  }

  .main__row {
    margin-bottom: 43px;
  }

  .button {
    margin: 0;
    justify-content: center;
    width: 160px;
    margin-left: 25px;
  }

  .main__button {
    padding: 11px 6px;
  }

  .main__img-vector {
    margin-top: 16px;
  }

  .main__img-stroke {
    margin-top: 15.05px;
    width: 37.83px;
  }

  .main__img-steering, .main__img-steering-1 {
    display: none;
  }

  .main__img-steering-2 {
    display: inline-block
  }

  .main__row-title {
    font-size: 27px;
    margin: 0 2px 0 0;
  }

  .main__subtitle {
    font-size: 15px;
  }

  .main__row-desc {
    font-size: 12px;
    text-align: left;
  }

  .main__row-text {
    margin-right: -39.49px;
    color: #e51937;
    text-shadow: none;
  }
}

/* .container {
  max-height: 900px;
}

.container__title {
  color:#e51937;
  margin: 101px 905px 0 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
}

.container__content {
  display: flex;
}

.container__img {
  display: inline-block;
  width: 100%;
  left: -275px;
  top: 956px;
}

.container__aside {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 900px;
  min-width: 440px;
  background-color: #e51937;
  margin-left: -270px;
  padding: 51px 44px 63px 48px;
}

.title {
  position: relative;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

.title-second {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.container__aside-info {
  margin-top: 11px;
  text-align: left;
}

.title-second_white {
  color: #fff;
}

.container__box {
  display: flex;
  margin-top: 54px;
} */

.section__img-car {
  width: 200px;
}
