html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  max-width: 1440px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px 0 42.72px;
  width: 100%;
}

.header__logo {
  display: inline-flex;
}

.header__nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-left: 110px;
}

.header__right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  margin-right: 0;
}

.right__menu {
  margin-right: -25px;
}

.nav__link {
  white-space: nowrap;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
}

.burger {
  border: none;
  background: white;
}

@media (max-width: 1100px) {
  .header__nav, .right__menu {
    display: none;
  }
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: #e51937;
  border-bottom: 1px solid #e51937;
  cursor: pointer;
}

.header__img-burger {
  display: inline-flex;
  align-items: flex-end;
}

.main {
  position: relative;
  text-align: center;
  background: url(../img/tesla_logo_car.png) no-repeat;
  background-size: contain;
  margin-top: 134px;
}

/* .main__img {
  position: relative;
  margin-top: -144px;
  width: 100%;
} */

.main__title {
  position: relative;
  font-weight: 600;
  margin-top: -76px;
  font-size: 90px;
  text-align: center;
  margin-bottom: -35px;
  line-height: 110px;
}

.title-second {
  font-weight: 500;
  font-size: 15px;
  margin-top: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main__description {
  text-align: center;
  left: 600px;
  font-size: 15px;
  margin-top: 27px;
  margin-bottom: 26px;
}

.main__container {
  display: flex;
  margin-top: 510px;
  padding: 0 250px;
  max-width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.main__container-first {
  display: flex;
  justify-content: space-between;
}

.main__container-second {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 14px;
  margin-right: 33px;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 62px 0 26px;
}

.main__img-vector {
  float: left;
  padding-left: 10px;
}

.main__img-stroke {
  float: left;
  width: 41.83px;
  margin-right: -10px;
  /* position: relative; */
}

.main__row-title {
  display: flex;
  align-items: baseline;
  padding-left: 15px;
  margin-left: -15px;
  font-style: bold;
  font-weight: 600;
  font-size: 35px;
  color: black;
  position: relative;
  right: 3px;
  margin-top: -10px;
  font-family: "Montserrat", sans-serif;
  line-height: 43px;
}

.main__subtitle-time {
  display: flex;
  margin-left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: black;
  line-height: 24px;
}

.main__subtitle-dist {
  display: flex;
  margin-left: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: black;
  line-height: 24px;
}

.main__row-desc {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: black;
  position: relative;
  right: -10px;
  margin-top: 0px;
  margin-left: 15px;
}

.main__row-test {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  flex-direction: row-reverse;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.row__test {
  display: flex;
}

.main__img-steering {
  float: left;
  margin-top: 20px;
  margin-right: 8px;
}

.main__img-steering-1, .main__img-steering-2 {
  display: none;
}

.main__row-text {
  display: flex;
  flex-wrap: row nowrap;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-top: 23px;
}

.button {
  margin: 0;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  border: 2px solid #e51937;
  width: 160px;
  height: 40px;
  padding: 10px 20px;
}

.main__button {
  position: relative;
  color: #e51937;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin-left: 52px;
  margin-top: 11px;
  right: 10px;
}

.main__button:hover {
  box-shadow: 0 5px 8px #3c354a;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.main__arrow {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media (max-width: 1270px) {
  .header {
    padding: 24px 33px 0 15.32px;
  }

  .header__img-burger {
    width: 35.23px;
  }
  
  .main {
    background: url(../img/Tesla_logo_car_ipad.png) no-repeat;
    background-size: contain;
    margin-top: 178px;
    padding-top: 1px;
  }

  .main__title {
    margin-top: -99.86px;
    margin-bottom: 5px;
    justify-content: center;
  }

  .main__description {
    justify-content: center;
    font-size: 15px;
    margin-top: -12px;
    text-align: center;
    margin-left: 0;
  }

  .main__container {
    flex-direction: column;
    padding: 0 140px;
    margin-top: 725.49px;
  }

  .main__container-second {
    bottom: 28px;
  }

  .main__row {
    margin-bottom: 57px;
    margin-right: 0;
    margin-left: 47px;
    margin-right: 90px;
  }

  .main__row-title {
    font-size: 50px;
    margin: -6px 19px -4px 0;
  }

  .main__row-test {
    margin-left: -42px;
  }

  .row__test {
    display: flex;
    margin-top: 32px;
  }

  .main__row-text {
    color: #e51937;
    margin-left: 9.66px;
    margin-top: 0;
    text-shadow: none;
    font-size: 16px;
    margin-left: 15px;
  }

  .button {
    margin: 0;
    justify-content: center;
    background-color: #e51937;
    color: white;
  }

  .main__button {
    margin-top: 19px;
    width: 220.84px;
    height: 57.13px;
    left: 0;
    margin: 17px 0 0 39px;
  }

  .main__img-vector {
    width: 75.92px;
    padding-left: 0;
  }

  .main__img-stroke {
    width: 50.83px;
    margin-right: 0;
  }

  .main__img-steering, .main__img-steering-2 {
    display: none;
  }

  .main__img-steering-1 {
    display: inline-block;
    margin-left: 48px;
  }

  .main__subtitle {
    font-size: 15px;
  }

  .main__row-desc {
    font-size: 12px;
    text-align: left;
    margin-top: 14px;
    right: -13px;
  }
  
  .main__arrow {
    margin-top: 33px;
  }
}

@media (max-width: 800px) {
  .main__container {
    margin-top: 465px;
  }

  .main__row {
    margin-left: 0;
    margin-right: 0;
  }

  .main__container-second {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0;
  }

  .header__logo {
    margin: 0;
    margin-left: -7px;
  }

  .header__img-wordmark {
    width: 138px;
    height: 42px;
    left: 2px;
    margin-left: 6px;
  }

  .header__img-burger {
    width: 24px;
    height: 15px;
    margin-right: 19px;
    margin-top: 6px;
  }

  .main {
    margin-top: 110px;
  }

  .main__img {
    margin-top: 19px;
    width: 450px;
    height: 210px;
    left: -20px;
  }

  .main__title {
    margin-top: -106px;
    margin-left: -6px;
    font-size: 50px;
    margin-bottom: 5px;
    padding: 0;
    justify-content: center;
  }

  .main__description {
    justify-content: center;
    font-size: 10px;
    text-align: center;
    margin-left: -5px;
    margin-bottom: -20px;
    margin-top: -31px;
  }

  .main__container {
    flex-direction: column;
    padding: 0 36px;
    justify-content: center;
    margin-top: 264px;
  }

  .main__container-first {
    width: 100%;
  }

  .main__container-second {
    width: 100%;
  }

  .main__row {
    margin-bottom: 43px;
    margin-right: 0;
    margin-left: 0;
  }

  .main__row-title {
    font-size: 27px;
    margin: -8px 14px 0 0;
  }

  .button {
    margin: 0;
    justify-content: center;
    width: 160px;
    margin-left: 25px;
  }

  .main__button {
    padding: 11px 6px;
    height: 40px;
    margin-top: 22px;
  }

  .main__img-vector {
    margin-top: 5px;
    width: 44.14px;
  }

  .main__img-stroke {
    width: 33.83px;
    margin-right: -2px;
  }

  .main__img-steering, .main__img-steering-1 {
    display: none;
  }

  .main__img-steering-2 {
    display: inline-block
  }

  .main__subtitle-time, .main__subtitle-dist {
    font-size: 15px;
  }

  .main__row-desc {
    font-size: 10px;
    text-align: left;
    margin-top: -4px;
    right: -13px;
  }

  .main__row-test {
    margin-left: -42px;
  }

  .row__test {
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
  }

  .main__row-text {
    margin-right: -39.49px;
    color: #e51937;
    text-shadow: none;
    margin-left: 5px;
    font-size: 13px;
  }

  .main__arrow{
    margin: 0 auto;
  }
}

/* .container {
  max-height: 900px;
} */

.container__title {
  color:#e51937;
  margin: 101px 905px 0 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  z-index: 99;
}

.container__content {
  display: flex;
}

.container__img {
  display: inline-block;
  width: 100%;
  margin-top: -100px;
  z-index: -1;
}

.container__img-phone {
  display: none;
}

.container__aside {
  display: flex;
  flex-direction: column;
  background-color: #e51937;
  margin-left: -270px;
  margin-top: -151px;
  padding: 26px 51px 0px 48px;
}

.title {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
}

.title-second {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.container__aside-info {
  margin-top: -14px;
  text-align: left;
  margin-bottom: 27px;
}

.title-second_white {
  color: #fff;
}

.container__boxes {
  justify-content: space-between;
}

.container__box {
  display: flex;
  margin-bottom: 30px;
}

.box-info {
  display: flex;
  flex-direction: column;
}

.container__img-screen {
  margin-top: 38px;
}

.container__box-title {
  display: flex;
  align-items: flex-end;
  font-size: 35px;
  font-weight: 600;
  color: white;
  margin-top: 31px;
  margin-left: 23px;
}

.box-title__subtitle {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  margin-top: -5px;
}

.container__box-desc {
  display: flex;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-top: -37px;
  margin-left: 22px;
  padding-right: 87px;
}

.container__box-update {
  display: flex;
  padding-right: 10px;
  line-height: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: white;
  margin: 5px 0 0 17px;
}

.container__box-functionality {
  display: flex;
  margin: 4px 77px 0 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: white;
}

.box-bag {
  margin-top: -36px;
}

.container__img-bag {
  margin-top: -8px;
}

.box-about {
  display: flex;
  align-items: flex-end;
}

.box-about__container {
  display: flex;
  justify-content: space-between;
  margin: 128px -12px 63px -1px;
}

.box-about__link {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

.box-about__learn {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 9px;
}

.box-about__button {
  justify-content: center;
  width: 160px;
  margin-left: 33px;
  border: white 2px solid;
  color: white;
  background: #e51937;
}

.footer {
  display: flex;
}

.footer__aside {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  background-color: #e51937;
  padding: 26px 68px 60px 56px;
}

.footer__aside-info {
  margin-top: -12px;
  margin-left: -2px;
  text-align: left;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.wrapper-mark {
  margin-top: 54px;
}

.wrapper__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 26px;
}

.wrapper__box-name {
  display: flex;
  font-style: normal;
  font-weight: bold;
  align-items: flex-end;
  font-size: 17px;
  line-height: 21px;
  margin-top: 0;
  color: white;
}

.box-name__subtitle {
  font-size: 10px;
  line-height: 12px;
  opacity: .7;
}

.wrapper__box-stars {
  display: inline-flex;
  margin-top: -20px;
  margin-right: 4px;
}

.aside__safe {
  display: flex;
  justify-content: space-between;
  /* margin-top: 102px; */
}

.aside__img-safe {
  margin-top: 34px;
  margin-left: 8px;
}

.safe__about {
  color: white;
  margin-top: 34px;
  margin-bottom: 35px;
  margin-right: 28px;
}

.aside__safe-stars {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

.aside__safe-defense {
  margin-top: -59px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px
}

.box-about__footer {
  align-items: center;
  margin-right: -13px;
  margin-left: -20px;
}

.box-about__footer-one {
  display: flex;
}

.footer__section {
  display: inline-block;
  z-index: 0;
}

.footer__section-title {
  display: inline-block;
  font-style: normal;
  position: inherit;
  color: #e51937;
  font-weight: 600;
  font-size: 200px;
  opacity: .1;
  margin: 100px 0 0 176px;
  z-index: -100;
}

.section__img-car {
  display: inline-block;
  width: 105%;
  margin-top: -169px;
  margin-left: -100px;
  z-index: 100;
}

.section__img-car-ipad {
  display: none;
}

.footer__dev {
  display: flex;
  justify-content: flex-end;
  margin: 77px 18px 0 0;
}

@media (max-width: 1270px) {
  .container {
    flex-direction: column;
  }

  .container__title {
    margin: 70px 46px 6px 0;
    text-align: right;
  }

  .container__content {
    flex-direction: column;
  }

  .container__img {
    margin: -100px 0px 151px 0px;
  }

  .container__img-phone {
    display: none;
  }

  .container__aside{
    margin-left: 0;
    display: grid;
    grid-template-rows: 1fr 108px;
    grid-template-columns: 1fr 1fr;
  }

  .aside-info {
    margin: -2px 34px 0px -16px;
  }

  .container__boxes {
    margin: -12px 0 0 66px;
  }

  .container__box {
    margin-bottom: 21px;
  }

  .box-about {
    display: grid;
    grid-column: 1/3;
  }

  .box-about__container {
    justify-content: center;
    margin: 0 64px 40px 0;
  }

  .container__aside-info {
    margin-top: 24px;
    margin-bottom: 58px;
  }

  .box-about__img-ellipse {
    width: 31.18px;
  }

  .box-about__learn {
    font-size: 16px;
  }

  .box-about__button {
    width: 220.84px;
    height: 55.21px;
    margin: 0px 0px 12px 44px;
  }

  .footer {
    flex-direction: column;
  }

  .footer__section {
    order: 1;
    margin-bottom: 28px;
  }

  .footer__aside {
    order: 2;
    max-width: 1300px;
  }
  
  .footer__section-title {
    font-size: 148px;
    text-align: center;
    margin: 38px 0 0 75px;
  }

  .section__img-car {
    display: none;
  }

  .section__img-car-ipad {
    display: inline-flex;
    width: 95%;
    margin-top: -135px;
  }

  .footer-img {
    display: none;
  }

  .footer__aside {
    display: grid;
    min-width: 0;
    grid-template-rows: 1fr 108px;
    grid-template-columns: 1fr 1fr;
  }

  .aside__safe {
    display: none;
  }

  .box-about__footer-one {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: -18px;
  }

  .footer__dev {
    display: none;
  }

  .aside__about {
    margin: 14px 14px 0 -20px;
  }

  .wrapper {
    margin: -13px 0 32px 41px;
  }

  .wrapper__box {
    padding-right: 0;
    margin-right: -11px;
  }
}

@media (max-width: 480px) {
  .container__title {
    display: none;
  }

  .container__img {
    display: none;
  }

  .container__img-phone {
    display: inline-flex;
  }

  .aside-info {
    margin: -34px -17px 0 -17px;
  }

  .container__boxes {
    display: none;
  }

  .box-about {
    display: none;
  }

  .container__aside {
    display: flex;
    min-width: 0;
    margin: -11px 0 0 -7px;
  }

  .container__aside-info {
    margin-top: -14px;
  }

  .footer__section-title {
    font-size: 91px;
    width: 100%;
    margin: 9px 0 -82px -8px;
  }

  .section__img-car-ipad {
    margin: -65px 0 53px 5px;
  }

  .wrapper {
    display: none;
  }

  .aside__safe {
    display: none;
  }

  .footer__aside {
    display: flex;
    min-width: 0;
    margin: -50px 0 0 -17px;
  }

  .footer__aside-title {
    margin: 16px -56px 0 11px;
  }

  .footer__aside-info {
    margin: 10px -51px 0 11px;
  }

  .aside__about {
    margin-top: -32px;
  }
}

@media (max-width: 550px) {
  .main__container {
    flex-direction: column;
    padding: 0 36px;
    justify-content: center;
    margin-top: 264px;
  }
  
  .wrapper {
    display: none;
  }

  .aside__safe {
    display: none;
  }

  .footer__aside {
    display: flex;
    min-width: 0;
  }

  .footer__section-title {
    font-size: 91px;
  }

  .container__boxes {
    display: none;
  }

  .box-about {
    display: none;
  }

  .container__aside {
    display: flex;
    min-width: 0;
  }
}
