@font-face {
  font-family: "Montserrat";
  src:
    url("./Montserrat-Regular.woff2") format("woff2"),
    url("./Montserrat-Regular.woff") format("woff"),
    url("./Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./Montserrat-Medium.woff2") format("woff2"),
    url("./Montserrat-Medium.woff") format("woff"),
    url("./Montserrat-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./Montserrat-Bold.woff2") format("woff2"),
    url("./Montserrat-Bold.woff") format("woff"),
    url("./Montserrat-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./Montserrat-SemiBold.woff2") format("woff2"),
    url("./Montserrat-SemiBold.woff") format("woff"),
    url("./Montserrat-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
